<main>

    <section class="section section-shaped section-lg">

      <div class="shape shape-style-1 bg-gradient-default">

        <span></span>

        <span></span>

        <span></span>

        <span></span>

        <span></span>

        <span></span>

        <span></span>

        <span></span>

      </div>

<div class="col-md-6 offset-md-3">




    <br>




    <h3 style="color:#FFFFFF" > View Publication  </h3>




    <form >




        <div class="form-group">




            <label> Nom & Prénom </label>




            
                <label> <b> Nom & Prénom :</b></label><br> {{publication.nom_prenom}}
           




        </div>




        <div class="form-group">



            
                <label> <b> contenu Publication :</b></label><br> {{publication.contenu}}
        



        </div>

     
    </form>




    </div>