<main>

    <section class="section section-shaped section-lg">

      <div class="shape shape-style-1 bg-gradient-default">

        <span></span>

        <span></span>

        <span></span>

        <span></span>

        <span></span>

        <span></span>

        <span></span>

        <span></span>

      </div>

<div class="container mt-5">

  <div class="container mt-5 d-flex align-items-center">

    <h2 style="color:#FFFFFF" class="flex-grow-1">feedbacks</h2>

    <div class="text-start ms-auto">

      <button type="button" routerLink="/create-publication" routerLinkActive="active" class="btn btn-secondary btn-lg">

        Ajouter une publication

      </button>

    </div>

  </div>

 

 

 

  <br>

  <div *ngFor="let publication of publications" class="mb-3">

    <div class="d-flex justify-content-center row">

        <div class="col-md-8">

            <div class="d-flex flex-column comment-section">

                <div class="bg-white p-2">

                    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/CFpa3nK.jpg" width="40">

                        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{ publication.nom_prenom }}</span><span class="date text-black-50">{{ publication.pub_date }}</span></div>

                    </div>

                    <div class="mt-2">

                        <p class="comment-text">{{ publication.contenu }}</p>

                    </div>

                </div>

                <div class="bg-white">

                    <div class="d-flex flex-row fs-12">

                        <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>

                        <div class="like p-2 cursor"><i class="fa fa-thumbs-o-down"></i><span class="ml-1">Dislike</span></div>

                        <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>

                        <div class="like p-2 cursor"><i class="fa fa-pencil"></i><span (click)="updatePublication(publication.idPublication)" class="ml-1">Update</span></div>

                        <div class="like p-2 cursor"><i class="fa fa-eye"></i><span (click)="publicationDetails(publication.idPublication)" class="ml-1">View</span></div>

                        <div class="like p-2 cursor"><i class="fa fa-trash"></i><span (click)="deletePublication(publication.idPublication)" class="ml-1">Supprimer</span></div>




                    </div>

                </div>

                <div class="bg-light p-2">

                    <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/CFpa3nK.jpg" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>

                    <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>

                </div>

            </div>

        </div>

    </div>

</div>

</div>
